@use "../base/vars";
@use "../ui/button";

.best-care {
    margin-bottom: 11.38em;
}
.container {
}
.bc__info {
    max-width: 39.63em;
}
.bc__title {
    font-size: vars.$tFontSize;
    font-family: vars.$titleFontFamily;
    color: vars.$paleTextColor;
    line-height: 1.33;
    margin-bottom: 1em;
}
.bc__descr {
    max-width: 35em;
    margin-bottom: 4em;

    p {
        font-size: vars.$pFontSize;
        color: vars.$paleTextColor;
    }
}
.bc__cards {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}
.bc__card {
    background-color: vars.$mediumBgColor;
    border-radius: 1.25em;
    height: 403px;
    width: 379px;
    padding: 42px 13.2px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bc__card__title {
    font-size: vars.$subtFontSize;
    font-weight: 700;
    margin-bottom: 0.83em;
}
.bc__card__descr {
    flex-grow: 1;
    p {
        text-align: center;
        max-height: 3.125em;
        overflow: hidden;
    }
}
.bc__card__pole {
    position: relative;
    background-color: vars.$darkBgColor;
    border-radius: 1.25em;
    height: 172px;
    width: 100%;
}
.bc__card__pole--double {
    background-color: unset;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}
.form-create {
    position: relative;
    position: absolute;
    top: 35%;
    right: 0;
    width: 100%;
    padding: 0 1em;

    &__text {
        width: 100%;
        max-width: 320px;
        height: 2.5em;
        border-radius: vars.$bigBorderRadius;
        background-color: vars.$darkBgColor;
        color: vars.$lightTextColor;
        padding: 0 7.7em 0 1em;
    }
    &__button {
        width: 5.3em;
        height: 2.5em;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        right: 1em;
        background-color: vars.$pickedBgColor;
        color: vars.$darkTextColor;
        transition: vars.$basicTrans;

        &:hover {
            transform: translateX(-0.3em);
        }
    }
}

.pole-settings,
.pole-scissors {
    background-color: vars.$darkBgColor;
    border-radius: 1.25em;
    padding: 1em 0.9em 0.69em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.setting-image {
    width: 2em;
}
.setting-title,
.scissors-title {
    font-size: 1em;
    margin-bottom: 0.5em;
}
.setting-descr,
.scissors-descr {
    font-size: 0.5em;
    font-weight: 275;
    height: 3em;
    overflow: hidden;
    p {
        text-overflow: ellipsis;
    }
}
.scissors-image {
    width: 2em;
}
.pole-bar {
    width: 1.95em;
    height: 100%;
    background-color: vars.$darkBgColor;
    border-radius: 1.25em;
    position: relative;
    cursor: pointer;

    &:hover::after {
        top: calc(100%);
        transform: translateY(-100%);
    }

    &:hover::before {
        height: 100%;
    }

    &::after {
        content: "";
        width: 31px;
        height: 35px;
        border-radius: 1.25em;
        background-color: vars.$lightBgColor;
        position: absolute;
        top: 0;
        left: -2.5px;
        transition: 0.5s;
    }

    &::before {
        content: "";
        width: 100%;
        height: 17.5px;
        background-color: vars.$pickedBgColor;
        border-radius: 1.25em 1.25em;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
}
.pole-actions {
    width: 100%;
    background-color: vars.$darkBgColor;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.75em 0.79em;
}
.pole__button {
    height: 2.44em;
    font-size: 1em;
    color: vars.$lightTextColor;
    border: 1px solid vars.$lightBorderColor;
    font-weight: 600;
    padding: 0;
}
