@use "../base/vars";

.header {
    background-color: vars.$mediumBgColor;
    padding: 1.19em 0 2.8em;
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
}

.logo {
    a {
        font-size: 1.5rem;
        font-weight: 600;
        transition: vars.$basicTrans;
        &:hover {
            color: vars.$pickedBgColor;
        }
    }
}

.nav {
    overflow: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 2.875em;
}

.nav-item {
    a {
        font-size: 1.125rem;
        font-weight: 500;
        transition: vars.$basicTrans;
        white-space: nowrap;
        &:hover {
            color: vars.$pickedBgColor;
        }
    }
}

.nav-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.nav-tool {
    width: 2em;
    height: 2em;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        transition: vars.$basicTrans;
        &:hover {
            opacity: 0.7;
        }
    }
}

//  Burger
.burger {
    margin-left: 1.5em;
    width: 2em;
    position: relative;
    // height: 1.29rem;
    cursor: pointer;
    display: none;
}

.burger span {
    vertical-align: middle;
}

.burger span,
.burger span::before,
.burger span::after {
    width: 100%;
    height: 2px;
    background-color: vars.$lightBgColor;
    border-radius: 2px;
    transition: vars.$basicTrans;
}

.burger span::before,
.burger span::after {
    content: "";
    position: absolute;
}

.burger span {
    margin: 5px 0;
    display: inline-block;
}

.burger span::before {
    top: 0;
}

.burger span::after {
    bottom: 0;
}

.burger:hover span::after {
    width: 100%;
}

@media (max-width: vars.$mediaTablet) {
}

@media (max-width: vars.$mediaSmallTablet) {
    .header {
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    //  Burger Menu
    .nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: vars.$mediumBgColorOp;
        order: 2;
        overflow: auto;
        width: 100%;
        height: 100%;
    }
    .nav-list {
        padding: 5em;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
        gap: 5em;
    }

    .burger {
        display: block;
        span {
            transition: width 0.3s ease-in, transform 0.3s ease-in;
        }
    }

    .appear {
        display: block;
    }

    .burger--cancel span {
        width: 0%;
        background-color: rgba(0, 255, 255, 0);
    }

    .burger--cancel span {
        margin: 5px 0;
        display: inline-block;
    }

    .burger--cancel span::before {
        transform: translateY(500%) rotateZ(45deg);
    }

    .burger--cancel span::after {
        transform: translateY(-500%) rotateZ(-45deg);
    }

    .burger--cancel:hover span::after {
        width: 100%;
    }
}

@media (max-width: vars.$mediaMobile) {
    .nav-list {
        padding: 4em;
        gap: 4em;
    }
    .burger--cancel span::before {
        transform: translateY(400%) rotateZ(45deg);
    }
    .burger--cancel span::after {
        transform: translateY(-400%) rotateZ(-45deg);
    }
}

@media (max-width: vars.$mediaSmallMobile) {
    .nav-list {
        padding: 3em;
        gap: 3em;
    }
    .burger--cancel span::before {
        transform: translateY(320%) rotateZ(45deg);
    }
    .burger--cancel span::after {
        transform: translateY(-320%) rotateZ(-45deg);
    }
}
