// Colors
$lightTextColor: #ffecc2;
$darkTextColor: #264236;
$paleTextColor: #848d74;

$lightBgColor: #ffecc2;
$mediumBgColor: #96a757;
$darkBgColor: #264236;
$pickedBgColor: #e8c01b;

$lightBorderColor: #ffecc2;
$darkBorderColor: #96a757;

// Fonts
$mainFontFamily: "Poppins", "Open Sans", sans-serif;
$titleFontFamily: "Skincake", "Pacifico", sans-serif;

$pMiniFontSize: 8px;
$pFontSize: 16px;
$subtFontSize: 24px;
$tFontSize: 48px;

//  Borders
$smallBorderRadius: 30%;
$bigBorderRadius: 60%;

//  Container
$containerWidth: 1440px;
$containerPadding: 20px;

//  Transitions
$basicTrans: all 0.2s;

// Paddings & Margins
$mainPadding: 20px;
$mainMargin: 20px;

// Medias
$mediaTablet: 992px;
$mediaSmallTablet: 767px;
$mediaMobile: 575px;
$mediaSmallMobile: 320px;
