// Text Colors
$lightTextColor: #ffecc2;
$darkTextColor: #264236;
$paleTextColor: #848d74;
$mediumTextColor: #96a757;

//  Background Colors
$lightBgColor: #ffecc2;
$mediumBgColor: #96a757;
$mediumBgColorOp: rgb(150, 167, 87, 0.9);
$darkBgColor: #264236;
$pickedBgColor: #e8c01b;

//  Border Colors
$lightBorderColor: #ffecc2;
$darkestBorderColor: #264236;
$darkBorderColor: #96a757;

// Fonts
$mainFontFamily: "Poppins", "Open Sans", sans-serif;
$titleFontFamily: "Skincake", "Pacifico", sans-serif;

$basicFontSize: 16px;

$pMiniFontSize: 0.5rem;
$pFontSize: 1rem;
$subtFontSize: 1.5rem;
$tFontSize: 3rem;

//  Borders
$smallBorderRadius: 1.875em;
$bigBorderRadius: 3.75em;

//  Container
$containerPadding: 20px;
$containerWidth: 1184px + ($containerPadding * 2);

//  Transitions
$basicTrans: all 0.3s;

//  Scale
$basicScale: scale(1.3);

//  Opacity
$basicOpacity: 0.6;

// Paddings & Margins
$mainPadding: 20px;
$mainMargin: 20px;

// Medias
$mediaTablet: 992px;
$mediaSmallTablet: 767px;
$mediaMobile: 575px;
$mediaSmallMobile: 370px;
