<section class="best-seller">
    <div class="container">
        <h2 class="best-seller__title">Best Seller</h2>
        <div class="tag-bar best-seller__tag-bar">
            <div class="tag best-seller__tag"><a href="#">Lorem Ipsum</a></div>
            <div class="tag best-seller__tag"><a href="#">Tag1</a></div>
            <div class="tag best-seller__tag">
                <a href="#">Product tag 2</a>
            </div>
            <div class="tag best-seller__tag"><a href="#">category 1</a></div>
            <div class="tag best-seller__tag"><a href="#">tag 1234</a></div>
            <div class="tag best-seller__tag"><a href="#">Lorem ipsum</a></div>
            <div class="tag best-seller__tag">
                <a href="#">Dolo sit amet</a>
            </div>
        </div>
        <div class="pet-cards best-seller__pet-cards">
            <div class="pet-card pet-card__bs">
                <div class="pet-card__img pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card__info pet-card-bs__info">
                    <div class="pet-card__main pet-card-bs__main">
                        <h4 class="pet-card__title pet-card-bs__title">
                            Lorem Ipsum
                        </h4>
                        <div class="pet-card__descr pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card pet-card__bs">
                <div class="pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card-bs__info">
                    <div class="pet-card-bs__main">
                        <h4 class="pet-card-bs__title">Lorem Ipsum</h4>
                        <div class="pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card pet-card__bs">
                <div class="pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card-bs__info">
                    <div class="pet-card-bs__main">
                        <h4 class="pet-card-bs__title">Lorem Ipsum</h4>
                        <div class="pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card pet-card__bs">
                <div class="pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card-bs__info">
                    <div class="pet-card-bs__main">
                        <h4 class="pet-card-bs__title">Lorem Ipsum</h4>
                        <div class="pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card pet-card__bs">
                <div class="pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card-bs__info">
                    <div class="pet-card-bs__main">
                        <h4 class="pet-card-bs__title">Lorem Ipsum</h4>
                        <div class="pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card pet-card__bs">
                <div class="pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card-bs__info">
                    <div class="pet-card-bs__main">
                        <h4 class="pet-card-bs__title">Lorem Ipsum</h4>
                        <div class="pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card pet-card__bs">
                <div class="pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card-bs__info">
                    <div class="pet-card-bs__main">
                        <h4 class="pet-card-bs__title">Lorem Ipsum</h4>
                        <div class="pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card pet-card__bs">
                <div class="pet-card-bs__img">
                    <img src="./img/card_fake_img.avif" alt="pet image" />
                </div>
                <div class="pet-card-bs__info">
                    <div class="pet-card-bs__main">
                        <h4 class="pet-card-bs__title">Lorem Ipsum</h4>
                        <div class="pet-card-bs__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card-bs__rating">
                            <span class="pet-card-bs__star"
                                ><img
                                    src="./img/icons/icons.svg#star"
                                    alt="star logo"
                            /></span>
                            <span class="pet-card-bs__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card-bs__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card-bs__price">
                            <span class="pet-card-bs__old-plice">$160,00</span>
                            <span class="pet-card-bs__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
