<section class="best-seller">
    <div class="container">
        <h2 class="best-seller__title">Best Seller</h2>
        <div class="tag-bar">
            <div class="tag">Lorem Ipsum</div>
            <div class="tag">Tag1</div>
            <div class="tag">Product tag 2</div>
            <div class="tag">category 1</div>
            <div class="tag">tag 1234</div>
            <div class="tag">Lorem ipsum</div>
            <div class="tag">Dolo sit amet</div>
        </div>
        <div class="pet-cards">
            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pet-card">
                <div class="pet-card__img">
                    <img src="#" alt="pet image" />
                </div>
                <div class="pet-card__info">
                    <div class="pet-card__main">
                        <h4 class="pet-card__title">Lorem Ipsum</h4>
                        <div class="pet-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Eveniet ipsum voluptates repellendus in quas,
                            officia praesentium architecto iure possimus error
                            quia saepe. Impedit illo fugiat quidem non tempore!
                            Eaque, dolores.
                        </div>
                        <div class="pet-card__rating">
                            <span class="pet-card__star"
                                ><img src="#" alt="star logo"
                            /></span>
                            <span class="pet-card__rating-num">(4.5)</span>
                        </div>
                    </div>
                    <div class="pet-card__bottom">
                        <button class="button">Add to cart</button>
                        <div class="pet-card__price">
                            <span class="pet-card__old-plice">$160,00</span>
                            <span class="pet-card__new-plice">$120,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
