<section class="best-seller" id="best-seller">
    <div class="container">
        <h2 class="best-seller__title">Best Seller</h2>
        <div class="tag-bar best-seller__tag-bar" area-label="A tag bar">
            <div class="tag best-seller__tag">
                <a href="#Lorem_Ipsum" area-label="To tag Lorem Ipsum"
                    >Lorem Ipsum</a
                >
            </div>
            <div class="tag best-seller__tag">
                <a href="#Tag_1" area-label="To tag 1">Tag1</a>
            </div>
            <div class="tag best-seller__tag">
                <a href="#Product_tag_2" area-label="To Product tag 2"
                    >Product tag 2</a
                >
            </div>
            <div class="tag best-seller__tag">
                <a href="#catagory_1" area-label="To tag catagory 1"
                    >catagory 1</a
                >
            </div>
            <div class="tag best-seller__tag">
                <a href="#tag_1234" area-label="To tag 1234">tag 1234</a>
            </div>
            <div class="tag best-seller__tag">
                <a href="#Lorem_ipsum" area-label="To tag Lorem ipsum"
                    >Lorem ipsum</a
                >
            </div>
            <div class="tag best-seller__tag">
                <a href="#Dolo_sit_amet" area-label="To tag Dolo sit amet"
                    >Dolo sit amet</a
                >
            </div>
        </div>

        <div
            class="pet-cards best-seller__pet-cards"
            area-label="Best seller cards"
        >
            @@include('../ui/best_seller_card.html', {})
            @@include('../ui/best_seller_card.html', {})
            @@include('../ui/best_seller_card.html', {})
            @@include('../ui/best_seller_card.html', {})
            @@include('../ui/best_seller_card.html', {})
            @@include('../ui/best_seller_card.html', {})
            @@include('../ui/best_seller_card.html', {})
            @@include('../ui/best_seller_card.html', {})
        </div>
    </div>
</section>
