<section class="choose">
    <div class="container">
        <div class="pet-card">
            <h2 class="pet-card__title">Cats</h2>
            <div class="photo-wrapper">
                <img src="./choose_cat.avif" alt="cat" />
            </div>
            <div class="number-bar">
                <span class="number-bar__minus">-</span>
                <span class="number-bar__number">0</span>
                <span class="number-bar__plus">+</span>
            </div>
            <button class="button" area-label="Add pet to cart">
                Add to cart
            </button>
        </div>
    </div>
</section>
