<section class="collection">
    <div class="container">
        <h2 class="collection__title">Collection</h2>
        <div class="collection-tags">
            <div class="tag-bar">
                <span class="tag"><a href="#tag1">Tag1</a></span>
                <span class="tag"><a href="#tag2">develope</a></span>
                <span class="tag"><a href="#tag3">website</a></span>
                <span class="tag"><a href="#tag4">digital marketing</a></span>
                <span class="tag"><a href="#tag5">creative</a></span>
            </div>
            <div class="tag-bar">
                <span class="tag"><a href="#tag6">Tag for 1234</a></span>
                <span class="tag"><a href="#tag7">creative website</a></span>
                <span class="tag"><a href="#tag8">website</a></span>
                <span class="tag"><a href="#tag9">digital</a></span>
                <span class="tag"><a href="#tag10">photograh</a></span>
            </div>
        </div>
        <div class="videos">
            <div class="video">
                <div class="video-prevue">
                    <h4 class="video-prevue__title">Lorem Ipsum</h4>
                    <div class="video-prevue__descr">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Praesentium id provident ab, iure ipsa
                            necessitatibus deleniti voluptas nisi non aspernatur
                            quos quam, minima eius possimus sint assumenda
                            quisquam? Repellendus, delectus!
                        </p>
                    </div>
                    <div class="video-prevue__pic">
                        <img
                            src="./img/icons/icons.svg#cat"
                            alt="Prevue picture"
                        />
                    </div>
                </div>
                <div class="video__tools">
                    <div class="play">
                        <img
                            src="./img/icons/icons.svg#video_play"
                            alt="play video"
                        />
                    </div>
                    <div class="video__something video__something--dark">
                        Lorem Ipsum
                    </div>
                    <div class="video__something">Lorem Ipsum</div>
                </div>
            </div>

            <div class="video">
                <div class="video-prevue">
                    <h4 class="video-prevue__title">Lorem Ipsum</h4>
                    <div class="video-prevue__descr">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Libero ipsam esse voluptatum vitae error minus
                            maiores nemo blanditiis distinctio qui dolorem
                            officiis, veniam mollitia soluta ab sapiente illum
                            neque earum.
                        </p>
                    </div>
                    <div class="video-prevue__pic">
                        <img
                            src="./img/icons/icons.svg#label"
                            alt="Prevue picture"
                        />
                    </div>
                </div>
                <div class="video__tools">
                    <div class="play">
                        <img
                            src="./img/icons/icons.svg#video_play"
                            alt="play video"
                        />
                    </div>
                    <div class="video__something video__something--dark">
                        Lorem Ipsum
                    </div>
                    <div class="video__something">Lorem Ipsum</div>
                </div>
            </div>

            <div class="video">
                <div class="video-prevue">
                    <h4 class="video-prevue__title">Lorem Ipsum</h4>
                    <div class="video-prevue__descr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Error nulla velit cupiditate sequi
                            consequuntur ipsam saepe quae itaque officiis porro
                            dolorum, ea tempora mollitia blanditiis deserunt nam
                            accusamus. Officiis, exercitationem.
                        </p>
                    </div>
                    <div class="video-prevue__pic">
                        <img
                            src="./img/icons/icons.svg#dog"
                            alt="Prevue picture"
                        />
                    </div>
                </div>
                <div class="video__tools">
                    <div class="play">
                        <img
                            src="./img/icons/icons.svg#video_play"
                            alt="play video"
                        />
                    </div>
                    <div class="video__something video__something--dark">
                        Lorem Ipsum
                    </div>
                    <div class="video__something">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </div>
</section>
