<section class="collection">
    <div class="contain">
        <h2 class="title">Collection</h2>
        <div class="tags">
            <div class="tag-bar">
                <span class="tag">Tag1</span>
                <span class="tag">develope</span>
                <span class="tag">website</span>
                <span class="tag">digital marketing</span>
                <span class="tag">creative</span>
            </div>
            <div class="tag-bar">
                <span class="tag">Tag for 1234</span>
                <span class="tag">creative website</span>
                <span class="tag">website</span>
                <span class="tag">digital</span>
                <span class="tag">photograh</span>
            </div>
        </div>
        <div class="videos">
            <div class="video">
                <div class="video-prevue">
                    <h4 class="video-prevue__title">Lorem Ipsum</h4>
                    <div class="video-prevue__descr">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Praesentium id provident ab, iure ipsa
                            necessitatibus deleniti voluptas nisi non aspernatur
                            quos quam, minima eius possimus sint assumenda
                            quisquam? Repellendus, delectus!
                        </p>
                    </div>
                    <div class="video-prevue__pic">
                        <img src="./img/prevue__pic1" alt="Prevue picture" />
                    </div>
                </div>
                <div class="video__tools">
                    <div class="play"></div>
                    <div class="video__something video__something--dark">
                        Lorem Ipsum
                    </div>
                    <div class="video__something">Lorem Ipsum</div>
                </div>
            </div>

            <div class="video">
                <div class="video-prevue">
                    <h4 class="video-prevue__title">Lorem Ipsum</h4>
                    <div class="video-prevue__descr">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Libero ipsam esse voluptatum vitae error minus
                            maiores nemo blanditiis distinctio qui dolorem
                            officiis, veniam mollitia soluta ab sapiente illum
                            neque earum.
                        </p>
                    </div>
                    <div class="video-prevue__pic">
                        <img src="./img/prevue__pic1" alt="Prevue picture" />
                    </div>
                </div>
                <div class="video__tools">
                    <div class="play"></div>
                    <div class="video__something video__something--dark">
                        Lorem Ipsum
                    </div>
                    <div class="video__something">Lorem Ipsum</div>
                </div>
            </div>

            <div class="video">
                <div class="video-prevue">
                    <h4 class="video-prevue__title">Lorem Ipsum</h4>
                    <div class="video-prevue__descr">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Error nulla velit cupiditate sequi
                            consequuntur ipsam saepe quae itaque officiis porro
                            dolorum, ea tempora mollitia blanditiis deserunt nam
                            accusamus. Officiis, exercitationem.
                        </p>
                    </div>
                    <div class="video-prevue__pic">
                        <img src="./img/prevue__pic1" alt="Prevue picture" />
                    </div>
                </div>
                <div class="video__tools">
                    <div class="play"></div>
                    <div class="video__something video__something--dark">
                        Lorem Ipsum
                    </div>
                    <div class="video__something">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </div>
</section>
