<section class="contact">
    <div class="contact__bg-color">
        <div class="contact__bg-img">
            <img src="./img/contact_img.avif" alt="Pet image" />
        </div>
        <div class="container">
            <div class="contact__descr">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ipsa doloribus tenetur, voluptatem repudiandae fugit atque
                    quasi, ullam natus tempore pariatur consequuntur minima
                    accusamus veritatis officiis ipsum odio? Provident, facere
                    sequi!
                </p>
            </div>

            <form action="#" class="contact__form">
                <input
                    type="text"
                    placeholder="Enter your text here"
                    name="contact__text"
                    class="contact__text"
                />
                <input
                    type="submit"
                    name="contact__submit"
                    class="button contact__submit"
                    value="Enter"
                />
            </form>
        </div>
    </div>
</section>
