<section class="hero">
    <div class="container">
        <div class="hero-info">
            <h1 class="hero__title">
                Pet <br />
                care <br />
                Services
            </h1>
            <div class="hero__descr-wrapper">
                <p class="hero__descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt lobortis augue at dictum. Duis in arcu
                    viverra ante vulputate facilisis
                </p>
            </div>
            <div class="hero__buttons">
                <a href="#" class="button" aria-label="to see more">See more</a>
                <a class="button button--light" aria-label="to buy online"
                    >Buy online</a
                >
            </div>
        </div>
        <div class="hero-media">
            <div class="media-item">
                <a class="media-link" href="#in" aria-label="to in"
                    ><img src="./img/icons/icons.svg#in" alt="in logo"
                /></a>
            </div>
            <div class="media-item">
                <a class="media-link" href="#inst" aria-label="to instagramm"
                    ><img
                        src="./img/icons/icons.svg#inst"
                        alt="instagramm logo"
                /></a>
            </div>
            <div class="media-item">
                <a class="media-link" href="#twitter" aria-label="to twitter"
                    ><img
                        src="./img/icons/icons.svg#twitter"
                        alt="twitter logo"
                /></a>
            </div>
            <div class="media-item">
                <a class="media-link" href="#facebook" aria-label="to facebook"
                    ><img src="./img/icons/icons.svg#fb" alt="facebook logo"
                /></a>
            </div>
        </div>
    </div>
</section>
