<section class="hero">
    <div class="container">
        <div class="hero-info">
            <h1 class="hero__title">
                Pet <br />
                care <br />
                Services
            </h1>
            <div
                class="hero__descr-wrapper"
                aria-label="Hero description section"
            >
                <p class="hero__descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt lobortis augue at dictum. Duis in arcu
                    viverra ante vulputate facilisis
                </p>
            </div>
            <div class="hero__buttons" aria-label="Hero buttons section">
                <a href="#best-seller" class="button" aria-label="To see more"
                    >See more</a
                >
                <a
                    href="#choose"
                    class="button button--light"
                    aria-label="To buy online"
                    >Buy online</a
                >
            </div>
        </div>
        <div class="hero-media" aria-label="Hero socials links">
            <div class="media-item">
                <a
                    target="_blank"
                    class="media-link"
                    href="https://www.linkedin.com/"
                    aria-label="to LinkedIn"
                >
                    <svg aria-label="LinkedIn logo">
                        <use href="./img/icons/icons.svg#in"></use>
                    </svg>
                </a>
            </div>
            <div class="media-item">
                <a
                    target="_blank"
                    class="media-link"
                    href="https://www.instagram.com/"
                    aria-label="to instagramm"
                >
                    <svg aria-label="instagramm logo">
                        <use href="./img/icons/icons.svg#inst"></use>
                    </svg>
                </a>
            </div>
            <div class="media-item">
                <a
                    target="_blank"
                    class="media-link"
                    href="https://twitter.com/"
                    aria-label="to twitter"
                >
                    <svg aria-label="twitter logo">
                        <use href="./img/icons/icons.svg#twitter"></use>
                    </svg>
                </a>
            </div>
            <div class="media-item">
                <a
                    target="_blank"
                    class="media-link"
                    href="https://www.facebook.com/"
                    aria-label="to facebook"
                >
                    <svg aria-label="facebook logo">
                        <use href="./img/icons/icons.svg#fb"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
