<section class="hero">
    <div class="container">
        <div class="hero-info">
            <h1 class="hero__title">Pet care Services</h1>
            <div class="hero__descr-wrapper">
                <p class="hero__descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec tincidunt lobortis augue at dictum. Duis in arcu
                    viverra ante vulputate facilisis
                </p>
            </div>
            <div class="hero__buttons">
                <a href="#" class="button" aria-label="to see more">See more</a>
                <a class="button button--white" aria-label="to buy online"
                    >Buy online</a
                >
            </div>
        </div>
        <div class="hero-media"></div>
    </div>
</section>
