@use "base/variables";
@use "base/reset";
@use "./fonts";
@use "./modules/header";
@use "./modules/footer";

body {
    font-family: "Poppins", "Open Sans", sans-serif;
    font-weight: 400;
    h1 {
        color: variables.$mainColor;
    }
}
